node_modules
*.log
*.aes
cypress/downloads
cypress/results
cypress/reports
cypress/screenshots
cypress/videos
cypress/logs
.history
.vscode
env
.DS_Store
cypress/allure-results
cypress/results/*
cypress/results/screenshots
cypress/e2e/examples
.idea
send_test_result.sh